nav.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-width: 955px;
    max-width: 955px;
    height: 3em;
}

div.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 955px;
    width: max(100%, 1000px);
}

div.blank-content{
    resize: vertical;
    display: inline-block;
    overflow: hidden;
    border: none;
    background-color: white;
    width: 955px;
    height: 630px;
    min-height: 630px;
}

input.three{
    height: 3.5em;
    width: 3.5em;
    margin-top: 0.1em;
}

button.add_image{
    cursor: pointer;
    width: 50px;
    height: 25px;
}

button.add_text{
    cursor: pointer;
    width: 50px;
    height: 25px;
    margin-left: 50px;
}

.added_text{
    border: none;
    resize: none;
    font-size: 17px;
    font-family: serif;
    color: #303030;
}
.added_text:focus{
    resize: both;
}
.floating-button {
    position: absolute;
    z-index: 3;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    margin: -40px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }

  .floating-button1 {
    text-decoration: none;
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    margin: 0px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button1:hover {
    background: rgb(73, 73, 242);
    box-shadow: 0 15px 20px rgb(73, 73, 242);
    color: white;
    transform: translateY(-7px);
  }


  .floating-button2 {
    position: absolute;
    z-index: 3;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    margin: -40px 830px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button2:hover {
    background: #cc4f25;
    box-shadow: 0 15px 20px #cc4f25;
    color: white;
    transform: translateY(-7px);
  }