html{
    height: 100%;
}
body{
    height: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.icon{
    background: linear-gradient(0deg, rgba(64,67,67,1) 36%, rgba(27,26,23,1) 68%);;
    height: 300px;
    width: 200px;
    border: 5px solid gray;
    transition: outline 0.6s linear;
    border-radius: 10px;
}

.icon:hover { 
    border-width: 5px;
    border-style: solid;
    border-image: repeating-linear-gradient(45deg, #f33, rgb(208, 39, 155), #f33 30px) 60 round;
 }

 .return{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin-top: 3px;
    margin-bottom: 3px;
 }

 .return:hover{
    color:rgb(208, 39, 155);
 }

 .to_main_div{
    display: flex;
    justify-content: center;
 }
 
 .name_static{
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 35px;
 }

 .name_enter{
    width: 100px;
 }

 .enter_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
 }

 .in_button{
    margin-top: 15px;
    font-size: 20px;
 }