body, html{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0px;
}

.small_icon{
    margin-top: 30px;
    padding: 5px;
    background: white;
    height: 200px;
    width: 500px;
    min-height: 200px;
    min-width: 500px;
    border: 5px solid rgb(212, 198, 198);
    transition: outline 0.6s linear;
    border-radius: 10px;
 }

 .small_icon:hover{
    cursor: pointer;
    padding: 8px;
 }

 .main_nav{
    background: rgb(114, 114, 201);
    height: 30px;
 }

 .update_btn{
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
 }

 .added_text{
    pointer-events: none;
    cursor: pointer;
    border: none;
    resize: none;
    font-size: 17px;
    font-family: serif;
    color: #303030;
}

textarea:focus, input:focus{
    outline: none;
}

.div_update{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}