body, html{
    width: 100%;
    height: 100%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(64,67,67,1) 36%, rgba(27,26,23,1) 68%);
    height: 500px;
    width: 800px;
    border: 5px solid gray;
    transition: outline 0.6s linear;
    border-radius: 10px;
}

.icon:hover { 
    border-width: 5px;
    border-style: solid;
    border-image: repeating-linear-gradient(45deg, #f33, rgb(208, 39, 155), #f33 30px) 60 round;
 }

 .small_icon{
    background: white;
    height: 200px;
    width: 500px;
    border: 5px solid rgb(212, 198, 198);
    transition: outline 0.6s linear;
    border-radius: 10px;
 }

 .main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.preview{
    color: White;
    font-size: 20px;
    margin-bottom: 40px;
}

.main_text{
    border: none;
    resize: none;
    font-size: 17px;
    margin-top: 4px;
    margin-left: 4px;
    width: 490px;
    height: 190px;
    font-family: serif;
    color: #303030;
}

button.add_image{
    cursor: pointer;
    width: 50px;
    height: 25px;
}

button.add_text{
    cursor: pointer;
    width: 50px;
    height: 25px;
    margin-left: 50px;
}

.added_text{
    border: none;
    resize: none;
    font-size: 17px;
    font-family: serif;
    color: #303030;
}
.added_text:focus{
    resize: both;
}

.floating-button {
    z-index: 3;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
  }

  .floating-button1 {
    text-decoration: none;
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    margin: 0px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button1:hover {
    background: rgb(73, 73, 242);
    box-shadow: 0 15px 20px rgb(73, 73, 242);
    color: white;
    transform: translateY(-7px);
  }


  .floating-button2 {
    position: absolute;
    z-index: 3;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 20px;
    border-radius: 45px;
    margin: -40px 830px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
  }
  .floating-button2:hover {
    background: #cc4f25;
    box-shadow: 0 15px 20px #cc4f25;
    color: white;
    transform: translateY(-7px);
  }

  .add_features_div{
    height: 80px;
  }

  .ready_button_div{
    margin-top: 30px;
  }