<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/article_create.css' %}">
</head>
<body style="background-image: url({% static '/img/space.jpg' %}); background-repeat: no-repeat;
background-size: cover;">
    <div class="main">
        <nav class="main">
            <button id="add_image" class="floating-button1">image</button>
            <button id="add_text" class="floating-button1">text</button>
        </nav>
        <form method="post">
            {% csrf_token %}
            <button id="save_btn" class="floating-button" name="save">save</button>
            <button id="next_btn" class="floating-button2" name="next">next</button>
            <input id="input_to_blank" name="blank" hidden>
            <input id="get_data" value={{ data }} hidden>
            <div id="blank" class="blank-content">
                <script src="{% static 'js/article_create.js' %}"></script>
            </div>
        </form>
    </div>
    <div style="height: 40px;"></div>
</body>
</html>