<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/in.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clear.css' %}">
</head>
<body style="background-image: url({% static '/img/kosmos.jpg' %}); background-repeat: no-repeat;
background-size: cover;">
    <div class="main">
        <div class="icon">
            <div class="to_main_div" style="background: linear-gradient(0deg, rgba(22,120,121,1) 0%, rgba(161,119,27,1) 100%);">
                <a href="/" class="return">Main</a>
            </div>
            <form method="post">
            {% csrf_token %}
            <div class="enter_div">
                    <div class="name_static">код</div>
                    <input name="code" type="password" name="name_enter" class="name_enter"> <br>
                    <button name="enter" class="in_button">войти</button>  
            </div>
            </form>  
        </div>
    </div>
</body>
</html>