<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/clear.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class="main_nav">
        {% if request.user.is_authenticated %}
            <a href="/article_show">На страницу создания статьи</a><br>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <a href="/in">Войти</a>
        {% endif %}
    </nav>
    <div id="main" class="main">
        <script src="{% static 'js/main.js' %}"></script>
    </div>
    <div class="div_update">
        <button id="update_btn" class="update_btn" style="background-image: url({% static '/img/update.png' %});
        background-size: cover;"></button>
    </div>
</body>
</html>