<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next_stage</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/clear.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/next_stage.css' %}">
</head>
<body style="background-image: url({% static '/img/kosmos.jpg' %}); background-repeat: no-repeat;
background-size: cover;">
    {% if request.user.is_authenticated %}
        <div class="main">
        <form method="post">
            {% csrf_token %}
            <div class="icon">
                <div class="add_features_div">
                    <button type="button" id="add_image" class="floating-button1">image</button>
                    <button type="button" id="add_text" class="floating-button1">text</button>
                </div>
                <div class="preview">preview</div>
                    <div id="blank" class="small_icon">
                        <input id="input_to_blank" name="blank" hidden>
                        <script src="{% static 'js/next_stage.js' %}"></script>
                    </div>
                    <div class="ready_button_div">   
                        <button name="ready" id="ready_btn" class="floating-button">ready</button>
                    </div>
                </form>
            </div>
        </form>
        </div>
    {% endif %}
</body>
</html>